/*Reset*/
*{
	margin:0;
	padding:0;
}
img{
	border:none;
}
input{
	
	border:none;
}
ul{
    list-style: none;
}
h1, h2, h3, h4, h5, h6{
    font-weight: normal;
}
input,select,option{
	outline:0;
	border:0;
}
a{
    text-decoration: none;
}

/*General*/
body{
	font-family: Arial;
}

/*Style*/
.wumodal-overlay{
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: 1;
	cursor: pointer;
}
.wumodal-container{
	position: absolute;
	z-index: 10;
}
.wumodal-close-button{
	position: absolute;
}
.wumodal-container .wumodal-cl-butt-img{
	position: absolute;
}/
