/*Style Theme Default*/
.wumodal-container.fancybox{
	-moz-box-shadow: 0 0 10px 0px rgba(80, 80, 80, 1);
    -webkit-box-shadow: 0 0 10px 0px rgba(80, 80, 80, 1);
    box-shadow: 0 0 10px 0px rgba(80, 80, 80, 1);
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    border-radius: 3px;
}
.fancybox .wumodal-content{
	padding: 10px;
	background: #FFF;
	-moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    border-radius: 3px;
}
.fancybox .wumodal-close-button{
	right: 5px;
	top: 2px;
	color: #999999;
	font-size: 11px;
}
.wumodal-container.fancybox .wumodal-cl-butt-img{
	right: -12px;
	top: -12px;
	display: block;
	text-indent: -9999px;
	background: url(../img/close.png) no-repeat;
	width: 30px;
	height: 28px;
}